<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/base.css">
    <title>GETRESULT</title>
</head>
<body>
    <%- include('header')  %> 
    <main>
        <div class="wrapper">
        <% dataArr.forEach(data=>{ %>
            <div class="card">
                
             <div class="imgCard"> <img src="<%=data.image_link%>" alt=""></div>   
                <div class="descriptions">
           
          <div class="nameCard"> <h2><%=data.name%></h2></div> 
          <div class="priceCard">  <h3><%=data.price%> $</h3></div>
          <div class="desCard"> <p><%=data.description%></p></div> </div>
</div>
       <% }) %>
    </div>
    </main>
</body>
</html>