<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../style/reset.css">
    <link rel="stylesheet" href="../style/base.css">
    <title>Document</title>
</head>
<body>
    <%- include('header')  %> 
    <main>
        <div class="cardProduct"> 
            <div class="imgProduct">
        <img src="<%=dataArr.image_link%>" alt="">
        </div>
        <div class="info-product">
            <h2><%=dataArr.name%></h2>
            <h3><%=dataArr.price%> $</h3>
            <p><%=dataArr.description%></p>

            <form action="/delete/<%=dataArr.id%> ?_method=delete" method="POST">
                <button>Delete</button>
              
            </form>
            <div>
            <form action="/update/<%=dataArr.id%> ?_method=put" method="POST">
            <input type="text" name="image_link" value="<%=dataArr.image_link%>">
            <input type="text" name="name" value="<%=dataArr.name%>">
            <input type="text" name="price" value="<%=dataArr.price%>">
            <input type="text" name="description" value="<%=dataArr.description%>">
            <button>Update</button>
            </form>
            </div>
        </div>
         </div> 
    </main>
</body>
</html>