<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <main>
        
        <% dataArr.forEach(data=>{ %>
            <img src="<%=data.image_link%>" alt="">
            <h2><%=data.name%></h2>
            <h3><%=data.price%></h3>
            <p><%=data.description%></p>
            <form action="/details/<%=data.id%>" >
                <button>View Details</button>
            </form>

       <% }) %>
    </main>
</body>
</html>